{% extends '_layout.html' %}

{% block title %} {{headerTitle}} {% endblock %}

{% block content %}

{% include "./forms/formWebsiteContent.html" %}
<script>
    function loadPostsPage(pageNo) {
    $('#posts').load('/admin/getPosts/' + pageNo );
    }
</script>
<div id="posts">

</div>

<hr/>

<div class="row">
    <div class="large-9 columns">
        <h4>Operations</h4>
        <a href="#" class="button medium">Change Password</a>
    </div>
</div>

<hr />

<div class="row">
    <div class="large-9 columns">
        <h4>Website Configuration</h4>
        <p><strong>To be implemented</strong></p>
    </div>
</div>

<script>
    $('#posts').load('/admin/getPosts/1?' + Math.random());
</script>

{% endblock %}