{% extends '_layout.html' %}

{% block title %} My Page {% endblock %}

{% block content %}

<div class="row">
    <div class="large-9 columns" role="content">
        {% for post in posts %}
        <article>
            <h3><a href="#">{{ post.subject }}</a></h3>
            <h6>Written by <a href="#">{{ post.name }}</a> on {{ post.date.toLocaleString() }}.</h6>
            <p>{{ post.body }}</p>
        </article>
        <hr />
        {% endfor %}
    </div>
    {% include "./_rightPanel.html" %}
</div>

 {% endblock %}