<div class="row">
    <div class="large-9 columns" role="form">
        <form method="post" action="register" name="newpost">
            <div class="row">
                <div class="large-9 columns">
                    <label>
                        Username
                        <input type="text" placeholder="Username" name="username" id="username"/>
                    </label>
                    <label>
                        Password
                        <input type="text" placeholder="Password" name="password" id="password" />
                    </label>
                    <label>Role</label>
                    <input type="radio" name="role" value="admin" id="roleAdmin" >
                    <label for="roleAdmin">Admin</label>
                    <input type="radio" name="role" value="user" id="roleUser" checked="checked">
                    <label for="roleUser">Publish</label>                     
                    <input type="submit" class="button small" value="Submit" />         
                </div>
            </div>
        </form>
        <hr />
    </div>
</div>
