<div class="row">
    <div class="large-9 columns" role="form">
        <form method="post" action="addnew" name="newpost">
            <div class="row">
                <div class="large-9 columns">
                    <label>
                        Subject
                        <input type="text" placeholder="Subject" name="subject" id="subject"/>
                    </label>
                    <label>
                        Body
                        <textarea name="body" id="body" rows="20"></textarea>
                    </label>    
                    <label>Choose type</label>
                    <input type="radio" name="publishType" value="draft" id="publishTypeDraft" checked="checked"><label for="publishTypeDraft">Draft</label>
                    <input type="radio" name="publishType" value="publish" id="publishTypePublish"><label for="publishTypePublish">Publish</label> 
                     
                    <input type="submit" class="button small" value="Submit" />         
                </div>
            </div>
        </form>
        <hr />
    </div>
</div>
