@font-face {
    font-family: "Segoe UI";
    font-weight: 200;
    src: local("Segoe UI Light");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 300;
    src: local("Segoe UI Semilight");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: local("Segoe UI");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: local("Segoe UI Semibold");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 400;
    src: local("Segoe UI Italic");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 700;
    src: local("Segoe UI Bold Italic");
}


body {
  padding: 50px;
  font-family: 'Segoe UI';
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

h1, h2, h3, h4, h5 , h6{
    font-family: 'Segoe UI';
}

a {
  color: #00b7ff;
}

.post:first-letter {
    font-size: 200%;
}

/*Animation styles*/
.fadeInBox {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.shadow
{
    box-shadow: 4px 4px 3px grey;
}

.imgBorder
{
   padding:1px;
   border:1px solid white;
   background-color: grey;
}
.rectBox{
    font-family:'Segoe UI';
    font-weight:400;
    font-size:x-large;
    text-align: center;
	width: auto;
	height: 70px;
     line-height: 70px;
    padding-right:1px;
    margin-right:10px;
}

.blue{
    color:white;
    background: #008CBA;
}

.blueText{
    color:#008CBA;
}

.centerBox {
  vertical-align: middle;
  line-height: normal;      
}

@keyframes fadein {
    from { opacity: 0; top:10px; }
    to   { opacity: 1; top:0px; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; top:10px; }
    to   { opacity: 1; top:0px; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; top:10px; }
    to   { opacity: 1; top:0px; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; top:10px; }
    to   { opacity: 1; top:0px; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
        top: 10px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}
