<div class="row">
    <div class="large-9 columns" role="form">
        <form method="post" action="/changePassword" name="changePass">
            <div class="row">
                <div class="large-9 columns">
                    <p>
                        Username : {{user.username}}
                    </p>
                    <label>
                        New Password
                        <input type="password" placeholder="Password" name="password" id="password" />
                    </label>
                     
                    <input type="submit" class="button small" value="Change Password" />         
                </div>
            </div>
        </form>
        <hr />
    </div>
</div>
