<div class="row">
    <div class="large-9 columns" role="form">
        <form method="post" action="login" name="newpost">
            <div class="row">
                <div class="large-9 columns">
                    <label>
                        Username
                        <input type="text" placeholder="Username" name="username" id="username"/>
                    </label>
                    <label>
                        Password
                        <input type="password" placeholder="Password" name="password" id="password" />
                    </label>
                     
                    <input type="submit" class="button small" value="Submit" />         
                </div>
            </div>
        </form>
        <hr />
    </div>
</div>
