<div class="row">
    <div class="large-9 columns" role="form">
        <form method="post" action="/blog/post/update/{{ post.id }}" name="updatePost">
            <input type="hidden" name="date" value="{{ post.date }}" />
            <input type="hidden" name="id" value="{{ post.id }}" />
            <div class="row">
                <div class="large-9 columns">
                    <label>
                        Subject
                        <input type="text" placeholder="Subject" name="subject" id="subject" value="{{ post.subject }}" />
                    </label>
                    <label>
                        Body
                        <textarea name="body" id="body" rows="20">{{ post.body }}</textarea>
                    </label>
                    <label>Choose type</label>
                    <input type="radio" name="publishType" value="draft" id="publishTypeDraft" {% if post.publishType == 'draft' %}checked="checked" {% endif %}>
                    <label for="publishTypeDraft">Draft</label>
                    <input type="radio" name="publishType" value="publish" id="publishTypePublish" {% if post.publishType == 'publish' %}checked="checked" {% endif %}>
                    <label for="publishTypePublish">Publish</label>
                    <input type="submit" class="button small" value="Submit" />
                </div>
            </div>
        </form>
        <hr />
    </div>
</div>
